*{
    margin: 0;
    padding: 0;
}


.table {
    border-collapse: collapse;
    width: 100%;
    font-size: 1em;
    font-family: sans-serif;
    border: 1px solid hsl(0, 78%, 51%); 
    text-align: left;
    
}
.table th, .table td{
    padding: 12px 15px;
    border: 1px solid rgb(7, 7, 7);
}

.table th{


    text-align: center;
    background-color: rgb(89, 157, 247);
    color: rgb(245, 243, 241);
    font-size: 24px;

}
 #nav-menu {
    text-align: center;
 }

.table td{

  background-color: #4b97ee;

}

.table tr:nth-child(even) td{
    background-color: rgb(132, 176, 241);
}
 
@media screen and (max-with: 600px){
    .table {
        width: 100%;
    }

    .table th,
    .table td {
        display: block;
        width: 100%;
    
    }
}
input[type="text"] {
    width: 400px;
    padding: 5px;
    font-size: 16px;
    color: black;
    background-color: azure;
    border: 1px;
    border-radius: 4px;
    outline: none;


}

input[type="text"]:focus {
    border-color: #4b97ee;
    box-shadow: 0 0 5px rgba(102, 175, 233, 0.5);
}
input[type="radio"] {
    width: 40px;
    padding: 5px;
    font-size: 16px;
    color: black;
    background-color: azure;
    border: 1px;
    border-radius: 4px;
    outline: none;


}

input[type="radio"]:focus {
    border-color: #4b97ee;
    box-shadow: 0 0 5px rgba(102, 175, 233, 0.5);
}
input[type="button"] {
    width: 100px;
    padding: 5px;
    font-size: 16px;
    color: black;
    background-color: rgb(247, 242, 242);
    border: 1px solid red;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    outline: none;


}

input[type="button"]:focus {
    border-color: #4b97ee;
    box-shadow: 0 0 5px rgba(102, 175, 233, 0.5);
}